.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding:10rem 4rem 4rem 4rem;
  width: 100%;
  height: 100vh;
  background-color: var(--main-black);
  background-image: linear-gradient(var(--main-black), var(--main-gray));
}

.about > h1 {
  font-size: 4rem;
}

.about > p {
  font-size: 2rem;
  font-weight: 200;
  font-style: italic;
  color: var(--main-blue);
  margin-bottom: 2rem;
}
