.nav {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--main-blue);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
  z-index: 10;
}

.navList {
  display: flex;
  margin-right: 2rem;
}

@media (max-width: 28.75em) {
  .nav {
    justify-content: center;
  }

  .navList {
    margin: 0 1rem;
  }
}

.navList a {
  display: block;
  font-size: 2.2rem;
  padding: 2rem;
}

.navList a:hover {
  background: var(--main-white);
  color: var(--main-black);
}
