.projectsSection {
  text-align: center;
  padding: 10rem 2rem;
  background: var(--main-blue);
}

.projectsHeading {
  max-width: 640px;
  margin: 0 auto 2rem auto;
  border-bottom: 0.2rem solid var(--main-white);
}

.projectsHeadingDescription {
  margin: 0 auto 5rem auto;
}

@media (max-width: 28.75em) {
  .projectsHeading {
    font-size: 4rem;
  }
}

.projectGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 4rem;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  margin-bottom: 6rem;
}

@media (max-width: 30.625em) {
  .projectsSection {
    padding: 6rem 1rem;
  }

  .projectGrid {
    grid-template-columns: 1fr;
  }
}

.project {
  background: var(--main-gray);
  border:  0.2rem solid var(--main-grey);
  box-shadow: 3px 3px var(--main-black);
  border-radius: 2px;
}

.projectImage {
  height: calc(100% - 6.8rem);
  width: 100%;
  object-fit: cover;
}

.projectTitle {
  font-size: 2rem;
  /* padding: 2rem 0.5rem; */
  padding: 0.5rem 0.5rem;
}

.icon {
  font-size: 2.4rem;
  text-shadow: 2px 2px 1px var(--main-black);
  transition: transform 0.3s ease-out;
  margin: 0rem 0rem 2rem 2rem;
}

.icon:hover {
  transform: translateY(8px);
}

.btn {
  display: inline-block;
  padding: 1rem 2rem;
  border-radius: 2px;
}

.btnShowAll {
  font-size: 2rem;
  background: var(--main-gray);
  transition: background 0.3s ease-out;
}

.btnShowAll:hover {
  background: var(--main-white);
  color: var(--main-black);
}

.btnShowAll:hover > i {
  transform: translateX(2px);
}

/* .btnShowAll > FontAwesomeIcon {
  margin-left: 10px;
  transform: translateX(0);
  transition: transform 0.3s ease-out;
} */
